// Animation Basic
@mixin anima-basic {
  @include prefix(
    transition,
    all 300ms cubic-bezier(0.8, 0, 0.2, 1),
    moz webkit ms o
  );
  @include prefix(
    transition-timing-function,
    cubic-bezier(0.8, 0, 0.2, 1),
    moz webkit ms o
  );
}

.anima-basic {
  @include anima-basic;
}

// Time Animation
@mixin anima-($secund) {
  @include prefix(
    transition,
    all $secund cubic-bezier(0.8, 0, 0.2, 1),
    moz webkit ms o
  );
  @include prefix(
    transition-timing-function,
    cubic-bezier(0.8, 0, 0.2, 1),
    moz webkit ms o
  );
}

// Propriety Animation
@mixin anima-propriety-($propriety) {
  @include prefix(
    transition,
    $propriety 300ms cubic-bezier(0.8, 0, 0.2, 1),
    moz webkit ms o
  );
  @include prefix(
    transition-timing-function,
    cubic-bezier(0.8, 0, 0.2, 1),
    moz webkit ms o
  );
}

// Animation Float
@mixin anima-float {
  @include prefix(
    animation,
    float 5000ms cubic-bezier(0.8, 0, 0.2, 1) infinite,
    moz webkit ms o
  );
  @include prefix(
    transition-timing-function,
    cubic-bezier(0.8, 0, 0.2, 1),
    moz webkit ms o
  );

  @keyframes float {
    0% {
      @include prefix(transform, translatey(0px), moz webkit ms o);
    }

    50% {
      @include prefix(transform, translatey(-20px), moz webkit ms o);
    }

    100% {
      @include prefix(transform, translatey(0px), moz webkit ms o);
    }
  }
}

// Animation Pulse Heart
@mixin anima-heart {
  animation: pulse 1s infinite;

  @keyframes pulse {
    10% {
      @include prefix(transform, scale(1.2), moz webkit ms o);
      color: var(--bs-red);
    }
  }
}

@mixin anima-heart-white {
  animation: pulse 1s infinite;

  @keyframes pulse {
    10% {
      @include prefix(transform, scale(1.2), moz webkit ms o);
    }
  }
}

// Animation Rotate
@mixin anima-rotate {
  animation: rotate-animation 1s infinite ease;

  @keyframes rotate-animation {
    0% {
      @include prefix(transform, rotate(0deg), moz webkit ms o);
    }
    40% {
      @include prefix(transform, rotate(200deg), moz webkit ms o);
    }
    50% {
      @include prefix(transform, rotate(170deg), moz webkit ms o);
    }
    100% {
      @include prefix(transform, rotate(360deg), moz webkit ms o);
    }
  }
}
.anima-rotate {
  @include anima-rotate;
}

// Animation Zoom
@mixin anima-zoom {
  @include prefix(transform, scale(1.2), moz webkit ms o);
}

.anima-zoom {
  @include anima-zoom;
}

// Animation Rotate-Zoom
@mixin anima-rotate-zoom {
  @include anima-basic;
  @include prefix(transform, rotate(90deg) scale(1.2), moz webkit ms o);
}

.anima-rotate-zoom:hover {
  @include anima-rotate-zoom;
}

@mixin anima-fade-left {
  @include prefix(transform, translateX(-2rem), moz webkit ms o);
  opacity: 0;
  animation: animaFadeLeft 0.5s forwards;

  @keyframes animaFadeLeft {
    to {
      @include prefix(transform, initial, moz webkit ms o);
      opacity: initial;
    }
  }
}
.anima-fade-left {
  @include anima-fade-left;
}

@mixin anima-fadein {
  opacity: 0;
  animation: animaFadein 0.5s forwards;

  @keyframes animaFadein {
    to {
      opacity: initial;
    }
  }
}
.anima-fadein {
  @include anima-fadein;
}

@mixin anima-fade-right {
  @include prefix(transform, translateX(2rem), moz webkit ms o);
  opacity: 0;
  animation: animaFadeRight 0.5s forwards;

  @keyframes animaFadeRight {
    to {
      @include prefix(transform, initial, moz webkit ms o);
      opacity: initial;
    }
  }
}
.anima-fade-right {
  @include anima-fade-right;
}

@mixin anima-fade-top {
  @include prefix(transform, translateY(-2rem), moz webkit ms o);
  opacity: 0;
  animation: animaFadeTop 0.5s forwards;

  @keyframes animaFadeTop {
    to {
      @include prefix(transform, initial, moz webkit ms o);
      opacity: initial;
    }
  }
}
.anima-fade-top {
  @include anima-fade-top;
}

@mixin anima-fade-bottom {
  @include prefix(transform, translateY(2rem), moz webkit ms o);
  opacity: 0;
  animation: animaFadeBottom 0.5s forwards;

  @keyframes animaFadeBottom {
    to {
      @include prefix(transform, initial, moz webkit ms o);
      opacity: initial;
    }
  }
}
.anima-fade-bottom {
  @include anima-fade-bottom;
}

// Animation Bell
@mixin anima-bell {
  animation: ring 8s ease-in-out;

  @keyframes ring {
    0% {
      @include prefix(transform, rotate(0), moz webkit ms o);
    }

    1% {
      @include prefix(transform, rotate(30deg), moz webkit ms o);
    }

    3% {
      @include prefix(transform, rotate(-28deg), moz webkit ms o);
    }

    5% {
      @include prefix(transform, rotate(-32deg), moz webkit ms o);
    }

    9% {
      @include prefix(transform, rotate(30deg), moz webkit ms o);
    }

    11% {
      @include prefix(transform, rotate(-28deg), moz webkit ms o);
    }

    13% {
      @include prefix(transform, rotate(26deg), moz webkit ms o);
    }

    15% {
      @include prefix(transform, rotate(-24deg), moz webkit ms o);
    }

    17% {
      @include prefix(transform, rotate(22deg), moz webkit ms o);
    }

    19% {
      @include prefix(transform, rotate(-20deg), moz webkit ms o);
    }

    21% {
      @include prefix(transform, rotate(18deg), moz webkit ms o);
    }

    23% {
      @include prefix(transform, rotate(-16deg), moz webkit ms o);
    }

    25% {
      @include prefix(transform, rotate(14deg), moz webkit ms o);
    }

    27% {
      @include prefix(transform, rotate(-12deg), moz webkit ms o);
    }

    29% {
      @include prefix(transform, rotate(10deg), moz webkit ms o);
    }

    31% {
      @include prefix(transform, rotate(-8deg), moz webkit ms o);
    }

    33% {
      @include prefix(transform, rotate(6deg), moz webkit ms o);
    }

    35% {
      @include prefix(transform, rotate(-4deg), moz webkit ms o);
    }

    37% {
      @include prefix(transform, rotate(2deg), moz webkit ms o);
    }

    39% {
      @include prefix(transform, rotate(-1deg), moz webkit ms o);
    }

    41% {
      @include prefix(transform, rotate(1deg), moz webkit ms o);
    }

    43% {
      @include prefix(transform, rotate(0), moz webkit ms o);
    }

    100% {
      @include prefix(transform, rotate(0), moz webkit ms o);
    }
  }
}

// Animation Badge
@mixin anima-badge {
  animation: alert 1s ease infinite;

  @keyframes alert {
    0% {
      @include prefix(transform, scale(0.1), moz webkit ms o);
      opacity: 0.7;
    }

    100% {
      @include prefix(transform, scale(2), moz webkit ms o);
      opacity: 0;
    }
  }
}
