.pageeditAsset {
  .edit {
    &-banner {
      position: relative;
      min-height: px(400);
      border-radius: px(5);
      background-position: center center;
      background-repeat: no-repeat;
      background-size: 100% auto;
      overflow: hidden;
      margin-bottom: px(30);

      &::after,
      &::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: var(--mui-palette-black-c300);
        opacity: 0.7;
        z-index: -1;
      }

      &::before {
        top: 70%;
        @include prefix(
          background,
          linear-gradient(
            0deg,
            var(--mui-palette-black-main) 0%,
            var(--mui-palette-black-c500a000) 100%
          ),
          moz webkit ms o
        );
        opacity: 1;
        z-index: 0;
      }

      &-content {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }

    &-contentEdit {
      margin: 0 px(10) px(80) px(-24);
      border-radius: 4px;
      border: px(2) solid var(--mui-palette-background-border);
      padding: px(30);
      position: relative;

      .title {
        padding: 0 px(20) 0 px(10);
      }

      .loadingUpdate {
        position: absolute;
        opacity: 0;
        top: px(-10);
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: px(20);
        background: var(--mui-palette-black-main);
        @include anima-basic;

        @include mode-light {
          background: var(--mui-palette-white-main);
        }

        &.show {
          z-index: 10;
          opacity: 0.8;
          cursor: progress;
        }
      }

      .contrast {
        .list-icon-item {
          background: var(--mui-palette-white-main);
          color: var(--mui-palette-black-main);
          @include anima-basic;

          @include mode-light {
            background: var(--mui-palette-black-main);
            color: var(--mui-palette-white-main);
          }
        }

        .selected {
          background: var(--mui-palette-blue-main) !important;
          border-color: var(--mui-palette-blue-main) !important;
          color: var(--mui-palette-white-main);
          @include anima-basic;
        }
      }

      .list-icon {
        &-item {
          margin: px(-1) px(-1) 0 0;
          border: px(1) solid var(--mui-palette-background-border);
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          @include anima-basic;

          &.selected {
            border: px(1) solid var(--mui-palette-cyan-main);
            z-index: 1;

            .MuiButton-root,
            .MuiTypography-caption {
              opacity: 1;
            }

            .icon {
              margin-top: px(-10) !important;
            }

            @include mode-light {
              border: px(1) solid var(--mui-palette-blue-main);
            }
          }

          .imageMUP {
            padding: px(20) 0;
            display: flex;
            justify-content: center;
            align-items: center;

            .icon {
              margin-top: 0;
            }
          }
          .MuiButton-root,
          .icon,
          .MuiTypography-caption {
            @include anima-basic;
          }

          .MuiButton-root {
            border-radius: 0 0 0 px(4);
            opacity: 0;
          }

          .MuiTypography-caption {
            position: absolute;
            bottom: px(4);
            left: 0;
            right: 0;
            text-align: center;
            opacity: 0;
          }

          &:hover {
            .MuiButton-root,
            .MuiTypography-caption {
              opacity: 1;
            }

            .icon {
              margin-top: px(-10);
            }
          }
        }
      }

      .icon-detail {
        position: sticky;
        top: px(100);
        background: var(--mui-palette-black-c400);
        border-radius: px(5);

        @include mode-light {
          background: var(--mui-palette-white-c400);
        }

        .preview {
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          padding-top: px(30);
          flex-direction: column;

          &::before {
            content: '';
            display: block;
            position: absolute;
            top: px(20);
            bottom: 0;
            left: px(40);
            right: px(40);
            border-radius: px(5);
            background: var(--mui-palette-white-main);
            opacity: 0;
            @include anima-basic;

            @include mode-light {
              background: var(--mui-palette-black-main);
            }
          }

          input {
            cursor: pointer;
            text-align: center;
            width: calc(100% - px(80));
            @include anima-basic;
            border-radius: px(3);
            margin: 0 px(40);
            border: px(1) solid transparent;
            font-weight: bold;

            &:hover {
              border: px(1) solid var(--mui-palette-background-border);
            }
          }
        }
      }

      .contrast {
        .preview {
          &::before {
            opacity: 1;
          }

          input {
            color: var(--mui-palette-black-main);

            @include mode-light {
              color: var(--mui-palette-white-main);
            }
          }
        }
      }
    }
  }
}
